<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
  <form method="POST" type="text">
    <label name="phrase">Enter your Phrase:</label>
    <input type="text" id="phrase" >
  </body>
</html>